<!-- Navbar -->
<nav class="navbar navbar-expand-sm bg-dark border-bottom border-body"
     data-bs-theme="dark">

  <!-- Container -->
  <div class="container-fluid p-0">

    <!-- Hamburger icon -->
    <button class="navbar-toggler ms-auto" 
            type="button" 
            data-bs-toggle="collapse"
            data-bs-auto-close="true" 
            data-bs-target="#navbar_content"
            aria-controls="navbar_content" 
            aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar content -->
    <div id="navbar_content" 
         class="collapse navbar-collapse mt-3 mt-sm-0">

      <!-- Navbar content LEFT -->   
      <ul class="navbar-nav me-auto ms-3">

        <!-- Home -->
        <li class="nav-item mx-1">
          <a class="nav-link" 
             routerLink="/" 
             routerLinkActive="active" 
             [routerLinkActiveOptions]="{exact: true}">
            <span class="text-capitalize text-small-caps">
							home
						</span>
          </a>
        </li>

        <!-- Page1 -->
        <li class="nav-item mx-1">
          <a class="nav-link" 
             routerLink="/page1" 
             routerLinkActive="active">
            <span class="text-capitalize text-small-caps">
              page1
            </span>
          </a>
        </li>

        <!-- Page2 -->
        <li class="nav-item mx-1">
          <a class="nav-link" 
             routerLink="/page2" 
             routerLinkActive="active">
            <span class="text-capitalize text-small-caps">
              page2
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>